/* Estilo para el Header en dispositivos Android Compact */
#header-img {
  width: 100%; /* Hacer que la imagen ocupe todo el ancho */
  height: auto; /* Escalar la altura proporcionalmente */
}

/* Estilo para la versión Android Medium con un breakpoint */
@media (min-width: 401px) and (max-width: 480px) {
  #header-img {
    content: url("assets/img/medium/header_medium.png"); /* Cargar la imagen para Android Medium */
    width: 100%; /* Asegurarse de que ocupe todo el ancho */
    height: auto; /* Escalar la altura proporcionalmente */
  }
}
